{
    "presets": [ "@babel/preset-env", "@babel/preset-react" ],
    "plugins": [["component",{
              "libraryName": "mint-ui",
              "style": true
            }],
            "@babel/plugin-transform-arrow-functions", "@babel/plugin-proposal-class-properties" 
        ]
  
}

